:root {
  --main-bg-color: #f5f5f5;
  --primary-color: #409074;
  --secondary-color: #0D1512;
  --text-color: #4D4D4D;
  --primary-color-hover: #306f59;
}

/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
  font: 14px/140% 'Montserrat', sans-serif;
  color: var(--text-color);
  background: var(--main-bg-color);
}

p {
  line-height: 160%;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* NAVIGATION */

header {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  font-family: 'Bitter';
}

.logo p {
  margin: 0 1rem;
  font-size: 2.1rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header {
  background: #f6f5f5;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header nav .menu {
  background: #f6f5f5;
  clear: both;
  max-height: 0;
  display: block;
  transition: max-height .2s ease-out;
}

/* NAV ICON */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 2.4rem;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* NAV BTN */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ nav .menu {
  max-height: 440px;
  padding: 0 0 2rem 0;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

nav ul,
footer ul,
.technologies ul{
  list-style: none;
  display: flex;
}

li {
 font-size: 1rem;
 margin: 1.7rem 2rem 0 2rem;
}

nav a:hover {
  color: var(--primary-color);
}

/* MAIN HEADER */

.content {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 12rem auto 0 auto;
  max-width: 1275px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 140%;
  padding: 1rem 0;
}

h1 span {
  font-weight: 500;
  color: var(--primary-color);
}

.main-header {
  margin: 3vw 0 0 0;
  height: 70vh;
}

.main-header button {
  width: 150px;
  background: var(--primary-color);
  padding: .5rem 1rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  color: white;
  border-radius: 5px;
  border: none;
  transition: all .2s;
}

.main-header button:hover {
  background: var(--primary-color-hover);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0), 0 3px 3px rgba(0,0,0,0.13);
}

.main-header a {
  color: var(--primary-color);
  font-weight: 500;
  margin-left: 2rem;
  font-size: 1.1rem;
  transition: all .2s;
}

.main-header a svg:hover,
.main-header a:hover,
.links a:hover,
.logo p:hover,
.about-me-content a:hover,
.contact a:hover {
  cursor: pointer;
  color: var(--primary-color-hover);
  fill: var(--primary-color-hover);
  stroke: var(--primary-color-hover);
}

.main-header svg {
  margin-left: .3rem;
  transition: all .2s;
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

.call-to-action a {
  margin-right: 2rem;
  margin-left: 0;
}

/* ABOUT ME */

section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.about-me p {
  padding-right: 7rem;
  max-width: 770px;
}

h2 {
  margin-bottom: 3rem;
  text-transform: capitalize;
}

.about-me-content {
  display: flex;
}

.about-me-content a,
.contact a {
  color: var(--primary-color);
  font-weight: 500;
}

.technologies ul {
  flex-direction: column;
  margin-top: 1rem;
  margin-right: 1.5rem;
}

.technologies ul li:before {
  content: "▹";
  position: relative;
  left: 0px;
  color: var(--primary-color);
  font-size: 17px;
  line-height: 12px;
  padding-right: 1rem;
}

.technologies ul li {
  margin: .5rem .5rem 0 0;
  font-size: 14px;
}

.techno-list {
  display: flex;
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 100%;
}

/* PROJECTS */

.project-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

h3 {
  color: var(--primary-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: .5rem;
}

.projects h4, p {
  display: inline-block;
  margin-top: .5rem;
}

.links {
  margin-top: 1.5rem;
}

.links a {
  font-weight: bold;
  color: var(--primary-color);
  padding-right: 1.5rem;
}

.project {
  padding-right: 5rem;
}

/* CONTACT */

.contact {
  flex-direction: column;
  text-align: center;
  height: 50vh;
}

.contact p {
 max-width: 530px;
 margin: 0 auto;
}

/* FOOTER */

footer {
  background: white;
}

footer ul {
  justify-content: center;
}

footer li {
  margin: 1rem;
  font-weight: 500;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 374px){

  .main-header h1{
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .projects {
    margin-top: 24rem;
  }

  .contact {
    margin-top: 15rem;
  }

  .contact h2 {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 560px) {
  
  .logo p {
    margin: .5rem 1rem;
    font-size: 1.7rem;
  }
  
  .main-header {
    margin-bottom: 25vh;
  }

  .project,
  .about-me-content p{
    padding-right: 0;
  }

  .contact {
    height: 30vh;
    margin-bottom: 2rem;
  }

  .main-header h1{
    font-size: 1.9rem;
  }

  .main-header button {
    margin-bottom: 1rem;
  }

  .main-header {
    margin-bottom: 0;
  }
  
  section {
     margin-top: 10rem;
  }

  h2 {
    font-size: 2.5rem !important;
  }

  .contact {
    margin-top: 7rem;
  }
  
}

@media (min-width: 768px) {
  .header nav li {
    float: left;
  }

  .header nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  .content {
    margin: 10rem auto 0 auto;
  }

  .main-header {
    height: 100vh;
    margin-bottom: 3rem;
  }

  section {
    height: 100vh;
  }
}

@media only screen and (max-width: 749px) { 
  .main-header {
    margin-bottom: 7rem;
  }
  section {

    padding-top: 20rem !important;
    height: 100vh !important;
  }

  .about-me {
    padding-top: 20rem !important;
  }

  .contact {
    margin-top: 0;
  }
}

@media only screen and (max-width: 860px) {
  
  .main-header {
    height: 100vh;
  }

  .about-me-content {
    display: flex;
    flex-direction: column;
  }

  .technologies {
    margin-top: 1rem;
  }

  .project-content {
    flex-direction: column;
  }

  .project {
    margin-bottom: 5rem;
  }

  section {
    height: 100vh;
  }

  .contact {
    text-align: left;
  }

  .contact h2 {
    margin-bottom: 4rem;
  }

  .contact p {
    margin: 0;
  }
}

@media (max-width: 986px) {
  .main-header {
    margin-bottom: 13rem;
  }

  .content {
    margin-top: 9rem;
  }

  section {
    margin-top: 5rem;
  }

  .projects {
    margin-top: 12rem;
  }

  h2 {
    margin-bottom: 2rem;
  }
  
}

@media only screen and (min-width: 750px) and (max-width: 1025px){ 
  .main-header {
    margin-bottom: 0;
  }
  section {
    height: 100vh !important;
  }


  .about-me {
    padding-top: 20rem !important;
  }

  .contact {
    margin-top: 0;
  }
}

@media (min-width: 1240px) {
  section {
    height: 90vh;
    justify-content: flex-start;
    margin-bottom: 3rem;
  }
}


